body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-navigation {
  font-size: 0;
  width: 1160px;
  outline: 3px solid green;
}

.log-menu-link {
  display: inline-block;
  width: 160px;
  padding-right: 200px;
}

.menu {
  display: inline-block;
  vertical-align: middle;
  width: px;
}

.menu-item {
  display: inline-block;
  width: 110px;
  font-size: 16px;
}

.basket {
  display: inline-block;
  width: 160px;

  vertical-align: middle;
  font-size: 16px;
}

.slider {
  width: 1160px;
}

.features {
  padding-top: 80px;
  padding-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  outline: 2px solid red;
}

.features-item:last-child {
  margin-right: 0;
}

.content {
  padding-top: 40px;
  padding-bottom: 75px;
  outline: 2px solid green;
}

.content-left {
  float: left;
  padding-top: 40px;
  padding-bottom: 54px;
  width: 660px;
  font-size: 0;
  outline: 2px solid black;
}

.content-left-fragment {
  display: inline-block;
  padding-bottom: 35px;
  font-size: 16px;
}

.content-left-paragraph1 {
  margin: 0;
  display: inline-block;
  padding-bottom: 23px;
  font-size: 16px;
}

.content-left-paragraph2 {
  display: inline-block;
  padding-bottom: 47px;
  font-size: 16px;
}

.content-left-list {
  display: inline-block;
  text-align: left;
  vertical-align: bottom;
  padding-bottom: 35px;
  font-size: 16px;
}


.content-right {
  float: right;
  width: 360px;
  margin-left: 140px;
  outline: 2px solid black;
}



.content-right-img {
  float: right;
  padding-bottom: 40px;
}

.content-text-right {
  text-align: center;
}
.content-list-right {
  display: inline-block;
  text-align: left;
}

.logos {
  width: 1160px;
  margin-bottom: 80px;
}

.logo {
  float: left;
  width: 260px;
  margin-right: 40px;
}

.logo:last-child {
  margin-right: 0;
}

.map {
  background-image: url("../img/map.jpg");
}

.contact {
  box-sizing: border-box;
  width: 319px;
  padding: 50px;
  margin-left: 140px;
  background-color: white;
}

.footer-social {
  float: left;
  padding-right: 140px;
  width: 260px;
}

.social-btn {
  width: 80px;
  padding-right: 15px;
}

.footer-text {
  float: left;
  width: 560px;
}

.form-message {
  width: 1034px;
  padding-top: 71px;
  padding-left: 100px;
  padding-right: 80px;
  padding-bottom: 85px;
}
