body {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-cart-icon {
  width: 15px;
  height: 15px;
  background-position: -5px -5px;
}

.sprite-fb-icon {
  width: 12px;
  height: 22px;
  background-position: -5px -30px;
}

.sprite-insta-icon {
  width: 21px;
  height: 21px;
  background-position: -5px -62px;
}

.sprite-vk-icon {
  width: 26px;
  height: 15px;
  background-position: -5px -93px;
}

.main-header {
  background: #eeeeee;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 50px;
}

.main-navigation {
  font-size: 0;
  width: 1160px;
  outline: red;
}

.logo-menu-link {
  display: inline-block;
  width: 160px;
  height: 65px;
}

.logo-menu-link:hover {
  opacity: 0.8;
}

.logo-menu-link:active {
  opacity: 0.3;
}

.menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 200px;
}

.menu-item {
  display: inline-block;
  width: 110px;
}

.menu-link{
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-link:hover {
  color: #fb565a;
}

.menu-link:active {
  color: #000000;
  opacity: 0.3;
}


.basket {
  float: right;
  text-align: right;
  width: 130px;
  padding-top: 18px;
  font-size: 16px;
}

.cart {
  display: block;
  position: relative;
  width: 130px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 100px;
  transform: translate(-50%, -50%);
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -5px;
  opacity: 0.3;
}

.main-title-catalog {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 115px;
  margin: 0;
}

.slider {
  position: relative;
  width: 1160px;
  height: 430px;
  margin:0 auto;
}

.slider input[type=radio] {
  position:absolute;
  opacity:0;
}

.slider-controls{
  position:absolute;
  bottom:95px;
  left:50%;
  width:200px;
  height:10px;
  margin-left:-100px;
  text-align:center;
  z-index:1000;
}

.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border: 5px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background:#c1c1c1;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide p {
  margin: 0;
  padding-bottom: 40px;
}

.slide-text1 {
  width: 380px;
  padding-bottom: 30px 0;
}

.slide-text2 {
  width: 520px;
  padding-bottom: 30px 0;
}

.slide-text2 p {
  width: 420px;
}

.slide-text3 {
  width: 450px;
  padding-bottom: 30px 0;
}

.slide-text3 p {
  width: 360px;
}

.slide-title {
  margin: 0;
  margin-top: 85px;
  padding-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: bold;
}

.slide:nth-child(1){
  background: #eeeeee url("../img/slide1.png") no-repeat;
  background-position: 100% 17px;
}

.slide:nth-child(2){
  background: #eeeeee url("../img/slide2.png") no-repeat;
  background-position: 100% 0;
}
.slide:nth-child(3){
  background: #eeeeee url("../img/slide3.png") no-repeat;
  background-position: 100% 19px;
}

.slide{
    display:none;
}

.slide:nth-child(1){
    display:block;

}
#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.btn {
  display: block;
  padding: 18px 0;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #fb565a;
  border-radius: 3px;
}

.btn-slide {
  width: 240px;
  margin-bottom: 80px;
}

.btn-slide:hover {
  background: #e74246;
}

.btn-slide:active {
  color: #e37376;
  background: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.btn-features {
  width: 160px;
  padding: 18px 0;
  text-align: center;
}

.btn-features-1:hover {
  background: #e74246;
}

.btn-features-1:active {
  color: #e37376;
  background: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.btn-features-2 {
  background: #00ca74;
}

.btn-features-2:hover {
  background: #00bc6c;
}

.btn-features-2:active {
  color: #4dc491;
  background: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.btn-features-3 {
  background: #efc84a;
}

.btn-features-3:hover {
  background: #eab534;
}

.btn-features-3:active {
  color: #edc265;
  background: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.features {
  padding-top: 80px;
  padding-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.features-img {
  padding-bottom: 25px;
}

.features-name {
  margin: 0;
  padding-bottom: 25px;
}

.features-text {
  width: 260px;
  margin: 0;
  padding-bottom: 35px;
}

.features-item:last-child {
  margin-right: 0;
}

.content {
  padding-bottom: 75px;
  border-top: 2px solid #eeeeee;
}

.content-left {
  float: left;
  padding-top: 80px;
  width: 660px;
}

.content-left-fragment {
  display: block;
  padding-bottom: 35px;
  font-size: 45px;
  line-height: 45px;
}

.content-left-paragraph {
  margin: 0;
  padding-bottom: 45px;
  font-size: 16px;
}

.content-left-title {
  padding-bottom: 35px;
  margin: 0;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.content-left-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content-left-list li {
  position: relative;
  padding-left: 40px;
  padding-bottom: 35px;
}

.content-left-list li:last-child {
  padding-bottom: 0;
}

.content-left-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.content-right {
  float: right;
  width: 360px;
  padding-top: 40px;
  margin-left: 140px;
}

.content-right-img {
  padding-bottom: 41px;
}

.content-right-title {
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.content-right-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  float: left;
  width: 110px;
  padding-right: 10px;
}

.figure {
  display: block;
  padding-bottom: 25px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.criterion {
  float: left;
}

.logos {
  width: 1160px;
  margin-bottom: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.logo {
  position: relative;
  float: left;
  width: 290px;
  height: 180px;
  background: white url("../img/map.jpg") no-repeat center;
  opacity: 0.2;

}

.logo::before {
  content: "";
  position: absolute;
  right: 0;
  top: 64px;
  width: 2px;
  height: 52px;
  background: #eeeeee;
  opacity: 1;
}

.htmlacademy {
  background: white url("../img/htmlacademy-logo.png") no-repeat center;
}

.bardershop {
  background: white url("../img/bardershop-logo.png") no-repeat center;
}

.pink {
  background: white url("../img/pink-logo.png") no-repeat center;
}

.mishka {
  background: white url("../img/mishka-logo.png") no-repeat center;
}

.logo:hover {
  opacity: 1;
}

.logo:active {
  opacity: 0.1;
}

.form {
  float: left;
  width: 260px;
  margin-right: 140px;
}

.slider-title-price {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 55px;
}

.range {
  width: 260px;
}

.range-item {
  float: left;
}

.range-item:first-child {
  padding-right: 40px;
}

.range-item-input {
  width: 80px;
}

.catalog {
  float: right;
  width: 760px;
}

.title-2 {
  float: left;
  width: 160px;
  margin: 0;
}

.slider-network {}

.network-slide {
  display: block;
}

.option-slide {
  display: block;
}

.separate {
  padding-top: 60px;
  padding-bottom: 55px;
}

.separate-item {
  float: right;
}

.layout {
  width: 760px;
  padding-bottom: 60px;
}

.layout-item {
  width: 360px;
  float: left;
  padding-bottom: 36px;
}

.layout-item:nth-child(2n) {
  float: right;
}

.next {
  padding-bottom: 60px;
}

.map {
  position: relative;
  height: 416px;
  background: #e8e6dd url("../img/map.jpg") no-repeat center;
}

.contact {
  position: absolute;
  left: 140px;
  top: 52px;
  box-sizing: border-box;
  width: 319px;
  padding: 50px;
  background-color: white;
}

.contact-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 30px;
}

.contact-text {
  margin: 0;
  padding: 0;
  padding-bottom: 19px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contact-phone {
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.btn-contact {
  width: 220px;
  padding: 18px 0;
  text-align: center;
}

.btn-contact:hover {
  background: #e74246;
}

.btn-contact:active {
  color: #e37376;
  background: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.main-footer {
  padding-top: 75px;
}

.footer-social {
  float: left;
  padding-right: 140px;
  width: 260px;
}

.social-btn {
  display: inline-block;
  position: relative;
  width: 79px;
  height: 79px;
  margin-right: 7px;
  font-size: 0;
  border-radius: 50%;
  background: #e1e1e1;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../img/spritesheet.png") no-repeat;
}

.social-btn-vk::before {
  width: 26px;
  height: 15px;
  background-position: -5px -93px;
}

.social-btn-fb::before{
  width: 12px;
  height: 22px;
  background-position: -5px -30px;
}

.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -5px -62px;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
  background: #e74246;
}

.social-btn:active {
  background: #d7373b;
}

.footer-text {
  float: left;
  width: 560px;
}

.footer-text b {
  font-size: 36px;
  line-height: 36px;
}

.footer-text p {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.form-message {
  position: relative;
  width: 760px;
  padding-top: 71px;
  padding-left: 100px;
  padding-right: 90px;
  padding-bottom: 85px;
}

.title-message {
  margin: 0;
  width: 360px;
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 45px;
}
.form-login {
  width: 360px;
  float: left;
}

.form-mail {
  width: 360px;
  float: right;
  padding-bottom: 35px;
  margin-right: 10px;

}

.form-text {
  clear: both;
  margin-right: 10px;
}

.form-label {
  display: block;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-text {
  width: 100%;
  color: #a1a1a1;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;
  outline: none;
}

.input-textarea {
  width: 754px;
}

.input-text:hover {
  border: 2px solid #b4b9bb;
}

.input-text:focus {
  color: #444444;
  border: 2px solid #000000;
}

.btn-close {
  position: absolute;
  right: 90px;
  top: 71px;
  width: 21px;
  height: 21px;
  background: url("../img/btn-close.png") no-repeat;
  border: none;
  opacity: 0.3;
  outline: none;
}

.btn-close:hover {
  opacity: 1;
}

.btn-close:active {
  opacity: 0.1;
}

.btn-form {
  margin-top: 47px;
  width: 260px;
  border: none;
}

.btn-form:hover {
  background: #e74246;
}

.btn-form:active {
  color: #e37376;
  background: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}
